@import './base.css';


body.dark {
    background: var(--color-background-mute);
    color: var(--color-text);
}

main {
    margin-top: 50px;
}

@media screen and (max-width: 700px) {
    .imgs-dragon img {
        display: flex;
        place-items: center;
    }
}